* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    list-style: none;
    box-sizing: border-box;
}


.container {
    width: 1203px;
    margin: 0 auto;
}

.header {
    height: 90px;
    background-color: #000;
    
}

.header .container {
    display: flex;
    height: 90px;
    align-items: center;
    justify-content: flex-end;
    
}

.header .hLeft {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-right: auto;
}

.header .hLeft img {
    display: inline-block;
    width: 65px;
    user-select: none;
    -webkit-user-drag: none;
}

.header .hLeft span {
    color: #fff;
    font-size: 21px;
    font-weight: 400;
}

.header .hRight ul{
    display: flex;
    list-style-type: none;
    gap: 60px;
}

.header .hRight a{
    color: rgba(255,255,255,1);
    font-size: 16px;
    text-transform: uppercase;
    transition: .2s;
}

.header .hRight a.active {
    font-weight: bold;
    cursor:default;
}

.header .hRight a:not( .active ):hover {
    color: rgba(255,255,255,.5);
}

.banner {
    background: url(../images/bannerbg.png);
    height: 666px;
    background-size: cover;
    position: relative;
}

.banner .container{
    text-align: center;
}

.banner .container h1{
    font-size: 50px;
    padding: 190px 0 30px;
}

.banner .container p{
    font-size: 25px;
    width: 75%;
    margin: 0 auto; 
}

.banner .container a {
    display: inline-block;
    margin-top: 50px;
    padding: 10px 35px;
    border-radius: 4%;
    color: #fff;
    background-color: rgba(250,2,52,1);
    font-size: 22px;
    transition: all .2s;
}

.banner .container a:hover {
    color: #000;
    background-color: #777;
}

.banner .vBar ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    position: absolute;
    top: 44%;
    font-size: 40px;
    background-color: rgba(250,2,52,1);
    border-radius: 4%;
    padding: 8px;
}

.banner .vBar ul a{
    color: rgba(255,255,255,1);
    transition: all .2s;

}

.banner .vBar ul a:hover{
    color: rgba(255,255,255,.5);
}

.about {
    height: 980px;
    background: #fafafa;
}

.about .container,.projects .container,.contact .container{
    text-align: center;
}

.about .container h1,.projects .container h1,.contact .container h1{
    padding-top: 135px;
    text-transform: uppercase;
    font-size: 45px;
}

/* .about .container span,.projects .container span,.contact .container span */
span.line{
    display: inline-block;
    height: 4px;
    width: 50px;
    background: rgba(250,2,52,1);
}

.about .container p.info,.projects .container p.info,.contact .container p.info{
    font-size: 20px;
    width: 60%;
    margin: 20px auto 0;
    color: #555;
}

.about .container .content {
    display: flex;
    text-align: left;
    gap: 130px;
    margin-top: 90px;
}

.about .container .content h2,.projects .container .content h2{
    font-size: 30px;
}

.Left,.Right{
    flex: 50%;
}

.about .container .content .Left p ,.projects .container .content .Right p{
    font-size: 18px;
    margin-top: 20px;
    text-align: justify;
}
.about .container .content .Left a.ln {
    color: #0077bb;
    font-weight: bold;
    transition: .15;
}

.about .container .content .Left a.ln:hover {
    color: #047;
}



/* .about .container .content .Left a.button, */
.button{
    display: inline-block;
    margin-top: 45px;
    padding: 10px 40px;
    border-radius: 4%;
    color: #fff;
    background-color: rgba(250,2,52,1);
    font-size: 20px;
    transition: all .2s;
    border: none;
    cursor: pointer;
}

.button:hover{
    background-color: rgba(0,0,0,1);
}

.about .container .content .Right ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}


.about .container .content .Right ul li a{
    padding: 8px 15px;
    margin: 0;
    font-size: 17px;
    border-radius: 5%;
    cursor:default;
    user-select: none;
    -webkit-user-drag: none;
}

.about .container .content .Right ul li a.valo {
    cursor: crosshair;
}

.projects {
    height: 1235px;
}

.projects .content{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 150px;
}

.projects .content .p1,.p2{
    text-align: left;
    display: flex;
    align-items: center;
}

.projects img.mac{
    width: 500px;
}

.projects .content .Right {
    margin-top: px;
}

.contact {
    height: 1214px;
    background: url(../images/bannerbg.jpg);
    background-size: cover;
}

.contact .overlay{
    background-image: linear-gradient(180deg,rgba(0,0,0,.1) 10%,transparent);
    height: 80px;
    position: relative;
}

.form {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 50px auto 0;
    background: #fafafa;
    padding: 50px;
    gap: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.fname {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.fname span {
    font-size: 20px;
    font-weight: 500;
}

.fname input:not([type='submit']) ,textarea.message{
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 10px ;
    outline: none;
    border: none;
    background-color: #ddd;
    color: #222;
    transition: all .3s ease;
}

.fname input:not([type='submit']):focus,textarea.message:focus{
    outline: 1px solid rgba(250,2,52,1);
}

.fname textarea.message {
    height: 200px;
    resize: none;
}

.form .submit{
    align-items: flex-end;
}